@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home" style="display: flex; align-items: center; justify-content: center; min-height: 80vh; overflow: hidden; ">
    <h1 class="text" style="background-color: white; height: 400px; width: 800px; box-shadow: 10px 10px 5px lightblue; display: flex; align-items: center; justify-content: center;">Witaj Piwoszu!!!</h1>
</div>
